{% extends "base.html" %}

{% block content %}

<p> Virtual Scene is a website designed to help you find new albums you'll love on <a
href=bandcamp.com>bandcamp</a>. Simply enter an album or artist name of something you already love on bandcamp into the search bar and click on the item you were looking for. You'll be given a set of ten recommended albums in a carousel.
Click on the play button to start the first album and hover to bring up the player information. You can navigate to more albums by clicking on the left and right arrows on the carousel.
<br><br>
The albums are selected by analyzing the collections of purchased albums from bandcamp users, so you'll get suggestions from users based on music they loved enough to actually buy. When you find your new favorite, click on the download button in the player to go purchase the album directly from the artist!
</p>

{% endblock %}
